.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.header {
  background-color: lightslategray;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  padding: 5px;
  color: black;
}

.game-area {
  background-color: lightgray;
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 5px;
}

.actor-img {
  display: block;
  margin: 0 auto;
  max-width: 50vw;
}

.appearance-img {
  display: block;
  margin: 0 auto;
  max-width: 50vw;
}

.actor {
  border: 3px;
  border-style: dotted;
  padding: 1px;
  margin: 5px;
}

.appearance {
  border: 3px;
  border-style: dashed;
  padding: 1px;
  margin: 5px;
}

.answer-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  gap: 12px;
  margin: 0 auto;
  padding-inline-start: 0px;
  width: calc(95% + 12px);
}

.correct-answer {
  color: green;
}
.incorrect-answer {
  color: red;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
